ITINERARY_AGENT_NAME="bedrock-multiagent-travel-chatbot-itinerary"
ITINERARY_AGENT_ALIAS_ID="WXKRHFOCVV"
SOLAR_AGENT_NAME=
SOLAR_AGENT_ALIAS_ID=
PEAK_AGENT_NAME=
PEAK_AGENT_ALIAS_ID=
PERPLEXITY_API_KEY="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"
PROJECT_NAME="travel-agent"
ENVIRONMENT=
API_URL="https://us.cloud.langfuse.com"
# Langfuse
# API_URL="https://cloud.langfuse.com/api/public/otel" # 🇪🇺 EU region
# API_URL="https://us.cloud.langfuse.com/api/public/otel" # 🇺🇸 US region
LANGFUSE_PUBLIC_KEY="pk-lf-c709aeef-4e4d-4895-b452-1f610ae867cb"
LANGFUSE_SECRET_KEY="sk-lf-bd38e169-cc27-4547-b51d-a4aa07e20a48"

# Arize Phoenix
# API_URL="http://0.0.0.0:6006" # local host `phoenix serve`

PRODUCE_BEDROCK_OTEL_TRACES="False" # Make sure to make it True to generate
